<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >

    <head th:fragment="adminHead">
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" />
        <script src="/js/jquery-2.1.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap-table.js"></script>

        <script type="text/javascript">
        	const url_name   = {
        							admin : "/admin"
        	};
        	
        	const map_tabNum = {"1" : url_name['admin'] + "/accounts",
        						"2" : url_name['admin'] + "/roles",
        						"3" : url_name['admin'] + "/resources"};
        
            const tabChange = (tabNum) => location.href = map_tabNum[tabNum];
        </script>
    </head>

</html>